.header_text {
    line-height: 1.4;
    font-size: 1.07em;
}

.logo{
    font-size: 35px;
   display: flex;
}
.fileButtons{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
}
