.dropzone {

  width: 900px;
  /* left: 230px;
  top: 234px; */
  /* padding: 20px; */
  background: #FFFFFF;
  box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.16);
  border-radius: 10px;
  margin-top: 30px;
}

.active {
  border: dashed 3px dodgerblue;
}
.mainCard{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding:10px 10px 20px 10px;
}
.uploadMessage h3 {
  margin-top: 1rem;
}

.files {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
  
}

.files + label {
 
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 0.25rem 0.75rem;
 
  user-select: none;
  text-align: center;
  display: grid;
align-items: center;
width: 185px;
   
    height: 45px;
    border-radius: 6%;
}

.files + label:focus,
.files + label:hover {
  background-color: #192033;
  color: #fff;
}

.files + label:focus {
  outline: 1px dotted #fff;
}


.headerText{
  /* position: absolute; */
  max-width: 283px;
  height: 38px;
  /* left: 579px;
  top: 175px; */

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
/* identical to box height */

display: flex;
align-items: flex-end;
letter-spacing: 0.02em;

color: #192033;
}
.headerNote{
  /* position: absolute; */
max-width: 577px;
height: 42px;
/* left: 432px;
top: 245px; */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: 0.02em;

color: #192033;
}
.btnjpg{
  /* position: absolute; */
width: 84.99px;
height: 38.28px;
/* left: 595px;
top: 325px; */

background: #E9E5FD;
border-radius: 9px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
justify-content: center;
text-align: center;
align-items: center;
text-transform: capitalize;
letter-spacing: 0.02em;
margin-right: 15px;
}
.btnjpeg{
  /* position: absolute; */
width: 84.99px;
height: 38.28px;
/* left: 691.99px;
top: 325px; */

background: #FDE5E5;
border-radius: 9px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
justify-content: center;
text-align: center;
align-items: center;
text-transform: capitalize;
letter-spacing: 0.02em;
margin-right: 15px;
color: #C43C3C;
}
.btnpng{
  /* position: absolute; */
width: 84.99px;
height: 38.28px;
/* left: 788.98px;
top: 325px; */
margin-right: 15px;
background: #D3E8FD;
border-radius: 9px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
justify-content: center;
text-align: center;
align-items: center;
text-transform: capitalize;
letter-spacing: 0.02em;

color: #0C3F9F;
}

.zoneContainer{
  display: flex;
  align-items: center;
  font-size: 18px;
}
.btnLineText{
  /* position: absolute; */
width: 83px;
height: 21px;
/* left: 500px;
top: 315px; */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
/* font-size: 18px; */
line-height: 21px;
/* identical to box height */

display: flex;
align-items: flex-end;
letter-spacing: 0.02em;
margin-right: 15px;
color: #192033;
}

.btnLineText2{
  /* position: absolute; */
  width: 87px;
height: 21px;
/* left: 885.97px;
top: 315px; */
margin-right: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
/* font-size: 18px; */
line-height: 21px;
/* identical to box height */

display: flex;
align-items: flex-end;
letter-spacing: 0.02em;

color: #192033;
}

.line1{
  /* position: absolute; */
  width: 98px;
  height: 0px;
  /* left: 478px;
  top: 400px; */
  background-color:#ACACB4 ;
  
  border: 1px solid #ACACB4;  
}
.line2{
  /* position: absolute; */
  width: 98px;
  height: 0px;
  /* left: 864px;
  top: 400px; */
  background-color:#ACACB4 ;
  border: 1px solid #ACACB4;
}
.lineCenterText{
  /* position: absolute; */
height: 21px;
/* left: 582px;
top: 372px; */
margin-left: 10px;
margin-right: 10px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */

display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: 0.02em;

color: #ACACB4;
}

.uploadBtn{
  /* position: absolute; */
width: 193px;
height: 50px;
/* left: 624px;
top: 450px; */
color: white;
align-items: center;
cursor: pointer;
font-family: 'Roboto';
font-style: normal;
background: #192033;
display: flex;
justify-content: center;
border-radius: 9px;

}

.compressBtn , .downloadBtn{
  font-family: 'Roboto';
  font-style: normal;
  background: #192033;
  display: flex;
  justify-content: center;
  border-radius: 9px;
  width: 193px;
  height: 50px;
  border: none;
  color: white;
  align-items: center;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.warn{
  display: flex;
  margin-top: 35px;
  margin-bottom: 10px;

  color: #e40c0c;
  font-size: 13px;
  font-family: revert;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 600px) {
  .dropzone {
    width: auto;
    flex-direction: column;
    height: auto;
    padding: 10px;
    justify-content: center;
    text-align: center;
  }
  .btnjpg,.btnjpeg ,.btnpng{
    width:50px
  }
  .zoneContainer{
    font-size: 14px;
  }

  .btnLineText{
    margin-right: 10px;
    width: 65px;
  }
  .headerNote{
    font-size: 15px;
    font-weight: 600;
    font-family: inherit;
  }
  .lineCenterText{
    font-size: 14px;
line-height: 17px;

}
}


@media (min-width: 1024px) {
  .container {
    width: 100%;
  
  }
  

}