.fileList {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  flex-direction: column;
}

.fileContainer {
  flex-direction: column;
  align-items: center;
}

.fileName {
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: center;
  font-size: 15px;
  word-break: break-word;
  font-family: sans-serif;
 
}
