.container {
  padding: 0 2rem;
  width: fit-content;
}
.outerCard{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  min-height: 485px;
  
}
.main {
  height: 100%;
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 1.5em;
  flex-direction: column;

}
 .anothercard{
  width: 980px;
  /* height: 450px; */
  /* left: 230px;
  top: 234px; */
  /* padding: 20px; */
  /* background: #FFFFFF; */
  /* box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.16); */
  border-radius: 10px;
  margin-top: 30px;
 }

.logodiv{
  display: flex;
    justify-content: center;
    width: 60%;
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    cursor: pointer;
    /* margin-left: 35px; */
}
.navBtn{
 
  font-weight: 600 !important;
  margin-right: 20px !important;
}

.navbar{
  background-color: white !important;
  box-shadow: none !important;
  padding-top: 30px !important;
  height: 110px !important;
}
.navBtn:hover{
  background-color: #192033 !important;
  color: white !important;
  font-weight: 600;

}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.likeText{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 0.02em;
  
  color: #192033;
  margin-bottom: 7px;
}
.footerText{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 0.02em;
  
  color: #2B2B2B;
  margin-bottom: 5px;

}
.copyrightText{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  
  text-align: center;
  letter-spacing: -0.02em;
  
  color: #ACACB4;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .footer{
    margin-top: 50px;
  }
  .navbar{
    /* background-color: #192033 !important; */
    color: #192033 !important;
    height: 70px !important;
    padding-top: 5px !important;

  }
}

@media (min-width: 1024px) {
  .container {
    width: 100%;
  
  }

}

@media (min-width: 1424px) {
 
  .navList{
    width: 40%;
  }
}
.flexClass{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:0px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.downloadBtn{
  font-family: 'Roboto';
  font-style: normal;
  background: #192033;
  display: flex;
  justify-content: center;
  border-radius: 9px;
  width: 193px;
  height: 50px;
  border: none;
  color: white;
  align-items: center;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.imageContainer{
  min-height: 450px;
  display: flex;
 
}
.underText{
  color: #192033;
    font-size: medium;
  padding-left: 8px;
    /* transform: rotate(-20deg); */
    position: relative;
    z-index: 9;
    font-family: sans-serif;
    padding-top: 7px;

    padding-bottom: 5px;
    margin: 0px;
    /* box-shadow: 0px 16px 40px rgb(21 67 113 / 16%); */
/* background-color: white; */
}

.isOneImage{
  flex-direction: column;
}
.Image{
  object-fit: cover;
  object-position: top;
  padding: 10px !important;
  border-radius: 15px;
}
.fileName {
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: center;
  font-size: 15px;
  word-break: break-word;
  font-family: sans-serif;
 
}
.mediaNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}